In [1]:
import pandas as pd
import numpy as np
import nltk
# nltk.download('punkt') # one time execution
import re
from nltk.tokenize import sent_tokenize
from nltk.corpus import stopwords

In [2]:
tifu_dataset = pd.read_csv("Temp/TextRankOutput_unclean/TextRankOutput.csv",index_col="Unnamed: 0")

In [3]:
tifu_dataset.head()

,documents,num_comments,score,title,tldr,ups,upvote_ratio,LCS,COSINE,TFIDF
0,"b""me and a friend decided to go to the beach l...",1,8,b'liking seafood',b'had delicious seafood. almost flooded a toil...,8,0.76,me and a friend decided to go to the beach las...,me and a friend decided to go to the beach las...,me and a friend decided to go to the beach las...
1,b'obligatory this happened last thursday. \n\n...,4,0,b'joking about being a whore',b'made a joke about being a whore in class. ma...,0,0.50,we wound up getting on the topic of how i joki...,we wound up getting on the topic of how i joki...,"now, one of my best friend 's sister, we 'll c..."
2,b'this was actually a few years ago (obligator...,24,25,b'burning my finger with molten starburst',b'i burned my finger with a microwaved starbur...,25,0.81,this was actually a few years ago obligatory d...,i put the rest in the fridge and ate it about ...,this was actually a few years ago obligatory d...
3,"b'this is my first post on reddit, so i\'m sor...",23,152,b'skipping my heart meds. nsfw',"b'a girl tried to give me a banana, smashed a ...",152,0.90,one of them sat on top of a desk right ahead o...,one of them sat on top of a desk right ahead o...,"i just started in a new school last week, and..."
4,"b""unlike most tifu this actually just happened...",10,21,b'overcoming my fears',"b'noticed a spider above my bed,decided to ove...",21,0.84,apparently he enjoys the decembrists and starb...,either i knocked something into my ceiling or....,apparently he enjoys the decembrists and starb...

In [4]:
def clean_document(column):
    column_new = list(map(lambda x: x.replace('\n','').replace('"b','').replace('\\n','').replace("'b",'').replace('b"','').replace("b'",''),column))
    
    column_new = [re.sub('(http|ftp|https):\/\/([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:\/~+#-]*[\w@?^=%&\/~+#-])','URL',i) for i in column_new]
    
    column_new = [re.sub(r"[^a-zA-Z0-9%!?:;,.-]+"," ",i) for i in column_new]
                                                                                                                   
    column_output = list(map(lambda x: x.replace('r/','subreddit '),column_new))

    return(column_output)

In [5]:
documents = tifu_dataset.documents
title = tifu_dataset.title
tldr = tifu_dataset.tldr

tifu_dataset["documents"] = clean_document(documents)
tifu_dataset["title"] = clean_document(title)
tifu_dataset["tldr"] = clean_document(tldr)

In [6]:
tifu_dataset.head()

,documents,num_comments,score,title,tldr,ups,upvote_ratio,LCS,COSINE,TFIDF
0,me and a friend decided to go to the beach las...,1,8,liking seafood,had delicious seafood. almost flooded a toilet...,8,0.76,me and a friend decided to go to the beach las...,me and a friend decided to go to the beach las...,me and a friend decided to go to the beach las...
1,obligatory this happened last thursday. i was ...,4,0,joking about being a whore,made a joke about being a whore in class. made...,0,0.50,we wound up getting on the topic of how i joki...,we wound up getting on the topic of how i joki...,"now, one of my best friend 's sister, we 'll c..."
2,this was actually a few years ago obligatory d...,24,25,burning my finger with molten starburst,i burned my finger with a microwaved starburst...,25,0.81,this was actually a few years ago obligatory d...,i put the rest in the fridge and ate it about ...,this was actually a few years ago obligatory d...
3,"this is my first post on reddit, so i m sorry ...",23,152,skipping my heart meds. nsfw,"a girl tried to give me a banana, smashed a di...",152,0.90,one of them sat on top of a desk right ahead o...,one of them sat on top of a desk right ahead o...,"i just started in a new school last week, and..."
4,unlike most tifu this actually just happened. ...,10,21,overcoming my fears,"noticed a spider above my bed,decided to overc...",21,0.84,apparently he enjoys the decembrists and starb...,either i knocked something into my ceiling or....,apparently he enjoys the decembrists and starb...

In [7]:
compression_opts = dict(method='zip', archive_name='TextRankOutput_clean.csv')  # Create a compression method to efficiently export data
tifu_dataset.to_csv('TextRankOutput_clean.zip', index=True, compression=compression_opts) # Export the data