In [1]:
# Import libraries

import pandas as pd
import numpy as np
from rouge import Rouge

In [2]:
# Read in the dataset

tifu_dataset = pd.read_csv("TextRankOutput_clean/TextRankOutput_clean.csv",index_col="Unnamed: 0")

In [3]:
# Inspect data

tifu_dataset.head()

,documents,num_comments,score,title,tldr,ups,upvote_ratio,LCS,COSINE,TFIDF
0,me and a friend decided to go to the beach las...,1,8,liking seafood,had delicious seafood. almost flooded a toilet...,8,0.76,me and a friend decided to go to the beach las...,me and a friend decided to go to the beach las...,me and a friend decided to go to the beach las...
1,obligatory this happened last thursday. i was ...,4,0,joking about being a whore,made a joke about being a whore in class. made...,0,0.50,we wound up getting on the topic of how i joki...,we wound up getting on the topic of how i joki...,"now, one of my best friend 's sister, we 'll c..."
2,this was actually a few years ago obligatory d...,24,25,burning my finger with molten starburst,i burned my finger with a microwaved starburst...,25,0.81,this was actually a few years ago obligatory d...,i put the rest in the fridge and ate it about ...,this was actually a few years ago obligatory d...
3,"this is my first post on reddit, so i m sorry ...",23,152,skipping my heart meds. nsfw,"a girl tried to give me a banana, smashed a di...",152,0.90,one of them sat on top of a desk right ahead o...,one of them sat on top of a desk right ahead o...,"i just started in a new school last week, and..."
4,unlike most tifu this actually just happened. ...,10,21,overcoming my fears,"noticed a spider above my bed,decided to overc...",21,0.84,apparently he enjoys the decembrists and starb...,either i knocked something into my ceiling or....,apparently he enjoys the decembrists and starb...

In [4]:
# Calculate all ROUGE metrics (full dataset)

reference_list = tifu_dataset['tldr'].tolist()
summary_list_LCS = tifu_dataset['LCS'].tolist()

rouge = Rouge()

rouge.get_scores(summary_list_LCS, reference_list,avg=True)

{'rouge-1': {'r': 0.37028421174054843,
  'p': 0.11276337578272772,
  'f': 0.15999700077483217},
 'rouge-2': {'r': 0.07569133331434026,
  'p': 0.01901271234458752,
  'f': 0.027499921808863178},
 'rouge-l': {'r': 0.31899426401543,
  'p': 0.0946670393671998,
  'f': 0.1350837712643988}}

In [5]:
# Calculate all ROUGE metrics (full dataset)

summary_list_COSINE = tifu_dataset['COSINE'].tolist()

rouge.get_scores(summary_list_COSINE, reference_list,avg=True)

{'rouge-1': {'r': 0.35627658355846886,
  'p': 0.10760504051472743,
  'f': 0.15347708114801642},
 'rouge-2': {'r': 0.06645588955921253,
  'p': 0.016563113969294548,
  'f': 0.02412435258345723},
 'rouge-l': {'r': 0.30610423873169457,
  'p': 0.09011603337753817,
  'f': 0.12924837998551622}}

In [6]:
# Calculate all ROUGE metrics (full dataset)

summary_list_TFIDF = tifu_dataset['TFIDF'].tolist()

rouge.get_scores(summary_list_TFIDF, reference_list,avg=True)

{'rouge-1': {'r': 0.34046297445936596,
  'p': 0.12636713237446767,
  'f': 0.16897312355057473},
 'rouge-2': {'r': 0.0684630544246759,
  'p': 0.021250544846638124,
  'f': 0.028945136002994407},
 'rouge-l': {'r': 0.2926136785206307,
  'p': 0.10619970634051895,
  'f': 0.14272702504891288}}